.md-location-editor__line {
  margin-bottom: 5px;
}

.md-location-editor__label {
  width: 115px;
  display: inline-block;
}

.md-location-editor__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
